<h1>Formulario de Login</h1>

<form method="post">
<div class="form-control">
    <label for="user">user</label>
    <input type="text" name="user" value="{{datos.user}}">
</div>

>
<div class="form-control">
    <label for="password">password</label>
    <input type="text" name="password" value="{{datos.password}}">
</div>

<button type="submit">Enviar</button>


</form>