<h2>Listado de Artistas</h2>

<a href="/alta" class="btn btn-primary">Agregar Artista</a>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>
    {{#each listado}}

    <tr>
        <td>{{this.nombre}}</td>
        <td>{{this.apellido}}</td>
        <td><a href="/borrar/{{this._id}}">Borrar</a></td>
        <td><a href="/editar/{{this._id}}">Editar</a></td>
    </tr>
        
    {{/each}}
</table>

