<h1>Formulario de Alta</h1>

<form method="post">
    <label>Usuario
    <input type="text" name="username">
    </label>
    <label>Password
    <input type="password" name="password">
    </label>
    <label>email
    <input type="text" name="email">
    </label>

<button type="submit">Registrarme</button>


</form>
